 <div class="padre"> 
    <header class="header" >header</header>
    <article class="articulo">
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            </p>
    </article>
    <aside class="aside izquierda">izquierda</aside>
    <aside class="aside derecha">derecha</aside>
    <footer class="footer">Footer</footer>
</div>
<!-- <div class="contenedor">
    <button mat-button class="boton1">1</button>
    <button mat-button class="boton2">2</button>
    <button mat-button class="boton1">1</button>
    <button mat-button class="boton2">2</button>
    <button mat-button class="boton1">1</button>
    <button mat-button class="boton2">2</button>
</div> -->